<h1>Add a new event</h1>


<%= simple_form_for(@event) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :event_type %>
  <%= f.input :event_type, collection: Event.event_types.keys.to_a %>

  <%= f.label :start_time %>
  <%= f.datetime_field :start_time %>

  <%= f.label :end_time %>
  <%= f.datetime_field :end_time %>
  
  <%= f.label :deadline %>
  <%= f.datetime_field :deadline %>

  <%= f.label :location %>
  <%= f.association :locations %>

<!--
  # We need to figure out how to work with the event location - perhaps choose from dropdown or link to make a new location
  # simple form assoc helper
  # options for collection (dropdown)

-->

  <%= f.submit "Create the event", class: "btn btn-primary" %>
<% end %>



